@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body{
	font-family: sans-serif;
}
.menu-bar{
	background: #d57ee4;
	height: 80px;
	width: 100%;
}
label.logo{
	color: #fff;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}
nav ul{
	float: right;
	margin-right: 20px;
}
nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li a{
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 5px;
	text-transform: uppercase;
}
a.active,a:hover{
	 color:#6A1B9A;
	transition: .5s;
 }
div.container{
	padding-top: 06px;
	width: 100%;
	height: 200px;
	display: inline-block;
}
div img{
	height: 200px;
	width: 200px;
	margin-left: 650px;
	border-radius: 8px;
	opacity: 0.5;
	transition: 0.5s;

	
}


div img:hover{
	height: 230px;
	width: 230px;
	opacity: 1;
	padding-top: 0%;
}

h2 {
    font-size: large;
    font-weight: bold;
    padding: 30px;
    text-align: center;
}
footer{
 width: 100%;
 height: 75px;
 background-color: blueviolet;
 color: white;
 line-height: 75px;
 text-align: center;
 margin-top: 20px;

}






